absl-py==1.0.0
accelerate==0.18.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alt-profanity-check==1.2.2
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.10.1
arrow==1.2.3
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
better-profanity==0.6.1
bioc==2.0
bitsandbytes==0.38.1
bleach==5.0.0
boto3==1.26.101
botocore==1.29.101
bravado==11.0.3
bravado-core==5.17.1
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
colorlog==6.7.0
commonmark==0.9.1
contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
datasets==2.11.0
dill==0.3.6
distlib==0.3.1
Django==4.0
dnspython==2.3.0
docker==5.0.3
docutils==0.19
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.4.0
exceptiongroup==1.1.1
execnet==1.9.0
fastapi==0.95.1
fastjsonschema==2.17.1
ffmpy==0.3.0
filelock==3.0.12
fire==0.5.0
Flask==2.0.2
Flask-Cors==3.0.10
flatbuffers==2.0
fonttools==4.29.1
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==3.27.0
gradio_client==0.1.3
grpcio==1.54.0
h11==0.14.0
h5py==3.6.0
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.13.4
idna==3.3
importlib-metadata==4.10.1
importlib-resources==5.12.0
iniconfig==2.0.0
intervaltree==3.1.0
isoduration==20.11.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.2.0
jsonlines==3.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.17.3
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==23.6.0
kiwisolver==1.3.2
libclang==13.0.0
linkify-it-py==2.0.2
lm-dataformat==0.0.20
loguru==0.7.0
loralib==0.1.1
lxml==4.6.3
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.0.1
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.8.9.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
neptune==1.1.1
networkx==3.1
nltk==3.8.1
numpy==1.24.2
oauthlib==3.1.1
openai==0.27.4
opencv-contrib-python==4.5.5.62
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.11
outcome==1.2.0
packaging==21.3
pandas==2.0.0
pandoc==2.3
pdfkit==0.6.1
peft @ git+https://github.com/huggingface/peft.git@098962fa6515f2e4fe83a757f5995d3ffbb1c373
Pillow==9.0.0
pinecone-client==2.2.1
pkginfo==1.8.3
pkgutil_resolve_name==1.3.10
pluggy==1.0.0
plumbum==1.8.1
ply==3.11
portalocker==2.7.0
progress==1.6
protobuf==4.22.4
psutil==5.9.4
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
Pygments==2.12.0
PyJWT==2.3.0
pynvml==11.5.0
pypandoc==1.11
pyparsing==3.0.7
PyPDF2==1.26.0
pyphen==0.14.0
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.2
pytest-xdist==3.2.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==6.0
reactpy==1.0.0
readme-renderer==35.0
regex==2023.5.5
reportlab==3.6.12
requests==2.27.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3987==1.3.8
rich==12.4.4
rouge-score==0.1.2
rsa==4.8
s3transfer==0.6.1
sacrebleu==2.3.1
scikit-learn==1.2.2
scipy==1.8.0
selenium==4.8.3
semantic-version==2.10.0
sentencepiece==0.1.97
simplejson==3.19.1
six==1.15.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
starlette==0.26.1
svglib==1.4.1
swagger-spec-validator==3.0.3
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflowjs==3.13.0
termcolor==1.1.0
textstat==0.7.3
threadpoolctl==3.1.0
tinycss2==1.2.1
tls-client==0.1.5
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
tqdm==4.65.0
transformers==4.28.1
trio==0.22.0
trio-websocket==0.10.2
twilio==7.7.1
twine==4.0.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.2
ujson==5.7.0
uri-template==1.2.0
urllib3==1.26.7
uvicorn==0.22.0
virtualenv==20.4.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.2.1
websockets==11.0.2
Werkzeug==2.0.2
win32-setctime==1.1.0
wrapt==1.13.3
wsproto==1.2.0
xxhash==3.2.0
yarl==1.8.2
zipp==3.7.0
zstandard==0.21.0
